<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= state %></title>
  <style type="text/css" media="screen">
  .status-unknown .status {
    color: #999;
  }
  .status-down .status {
    color: #FF5200;
  }
  .status-up .status {
    color: #B1CCE8;
  }
  
  .snapshots {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .snapshots li {
    display: inline-block;
  }
  .snapshots a,
  .snapshots img {
    display: block;
  }
  </style>
</head>
<body>
  <h1><%= state %></h1>
  
  <% monitors.each do |monitor| %>
    <section id="state-<%= monitor[:meta]["state_abbreviation"] %>" class="status-<%= monitor[:status] %>">
      <h2>
        <%= monitor[:name] %> - 
        <span class="status">
          <% if monitor[:status] == :unknown %>
            not monitored
          <% elsif monitor[:status] == :down %>
            down!
          <% else %>
            operating normally
          <% end %>
        </span>
      </h2>
      <p><a href="<%= monitor[:url] %>"><%= monitor[:url] %></a></p>
      
      Most recent snapshots:
      <ol class="snapshots">
      <% monitor[:snapshots].slice(0, 10).each do |snapshot, index| %>
        <li>
          <a href="<%= snapshot["url"] %>">
            <img src="<%= snapshot["url"] %>" width="200" alt="" />
            <%= snapshot["date"].getlocal.strftime("%Y-%m-%d %I:%M %P") %>
          </a>
        </li>
      <% end %>
      </ol>
      <% if monitor[:snapshots].count > 10 %>
        …and <%= monitor[:snapshots].count - 10 %> more.
      <% end %>
    </section>
  <% end %>
  
</body>
</html>
